:root {
    --principal: #C4A70E;
    --secundario: #CFDDB0;
    --terciario: #7D6A06;
    --gris: #666666;
    --blanco: #ffffff;
    --gris_obscuro: #333333;
    --gris_claro: #d1e0e6;
    --negro: #000000;
    --rojo: #ca2020;
    --verde: #0d5f1f;
    --morado: #88088c;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    min-height: 100%;
}

.contenedor-sm {
    max-width: 700px;
    margin: 0 auto;
}

#cabeceralogo {
    height: 150px;
    padding: 0% 2%;
    background-color: var(--principal);
}

#cabeceralogo>div {
    width: 960px;
    margin: 0px auto;
    padding-top: 45px;
}

#cabeceralogo h1 {
    font: bold 54px Arial, sans-serif;
    color: var(--blanco);
}

#menuprincipal {
    width: 96%;
    height: 50px;
    padding: 0% 2%;
    background-color: var(--secundario);
}

#menuprincipal>div {
    width: 960px;
    margin: 0px auto;
}

#menuprincipal li {
    display: inline-block;
    height: 35px;
    padding-top: 15px;
    margin-right: 5px;
}

#menuprincipal li:hover {
    background-color: var(--principal);
}

#menuprincipal a {
    font: bold 18px Arial, sans-serif;
    color: var(--gris_obscuro);
    text-decoration: none;
    padding: 15px 10px 15px 10px;
}

main {
    width: 96%;
    padding: 2%;
    min-height: 270px;
}

main>div {
    width: 960px;
    margin: 0px auto;
}

#articulosprincipales {
    float: left;
    width: 620px;
    padding-top: 30px;
    background-color: var(--blanco);
    border-radius: 10px;
}

#infoadicional {
    float: right;
    width: 280px;
    padding: 20px;
    background-color: var(--gris_claro);
    border-radius: 10px;
}

.citas {
    display: grid;
    cursor: pointer;
}

.cita {
    text-decoration: none;
    color: var(--negro);
}

#infoadicional h1 {
    font: bold 18px Arial, sans-serif;
    color: #333333;
    margin-bottom: 15px;
}

.recuperar {
    clear: both;
}

article {
    position: relative;
    padding: 0px 40px 20px 40px;
}

article time {
    display: block;
    position: absolute;
    top: -5px;
    left: -70px;
    width: 80px;
    padding: 15px 5px;
    background-color: var(--terciario);
    box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
    border-radius: 5px;
}

.numerodia {
    font: bold 36px Verdana, sans-serif;
    color: #FFFFFF;
    text-align: center;
}

.nombredia {
    font: 12px Verdana, sans-serif;
    color: #FFFFFF;
    text-align: center;
}

article h1 {
    margin-bottom: 5px;
    font: bold 30px Georgia, sans-serif;
}

article p {
    font: 18px Georgia, sans-serif;
}

figure {
    margin: 10px 0px;
}

figure img {
    padding: 5px;
    border: 1px solid;
}

.img {
    height: 200px;
}

#pielogo {
    background-color: var(--principal);
    padding: 20px 0;
    width: 100%;
}

#pielogo>div {
    width: 960px;
    margin: 0px auto;
    background-color: var(--secundario);
    border-radius: 10px;
}

.seccionpie {
    float: left;
    width: 270px;
    padding: 25px;
}

.seccionpie h1 {
    font: bold 20px Arial, sans-serif;
}

.seccionpie p {
    margin-top: 5px;
}

.seccionpie a {
    font: bold 16px Arial, sans-serif;
    color: var(--gris);
    text-decoration: none;
}

.seccionpie {
    float: left;
    width: 27.33%;
    padding: 3%;
}

.formulario {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
}

.campo input {
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--gris_claro);
    width: 150px;
    margin-left: 10px;
}

.ta-c {
    text-align: center;
}

.btn {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-principal {
    background-color: var(--principal);
}

.btn-principal:hover {
    background-color: var(--secundario);
}

.btn-secundario {
    background-color: var(--morado);
    color: var(--blanco);
}

.btn-secundario:hover {
    background-color: palevioletred;
}

.alertas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alerta {
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.error {
    background-color: var(--rojo);
    color: var(--blanco);
}

.correcto {
    background-color: var(--verde);
    color: var(--blanco);
}

.flex {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    text-align: center;
}

.valor {
    text-align: center;
    width: 200px;
}

.title {
    text-align: center;
    font-weight: bold;
    background-color: var(--gris_claro);
}

.valor-title,
.anios-title {
    font-weight: bold;
    background-color: var(--gris_claro);
    padding: 5px 10px;
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tabla {
    margin-bottom: 20px;
}

.fila-flex {
    display: flex;
    justify-content: center;
    gap: 30px
}

.fila-flex p {
    font-weight: bold;
}